@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes anim1 {
    0%{
        transform: translateX(-300px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.anim1{
    animation: anim1 1.6s ease-out forwards;
}

@keyframes anim2 {
    0%{
        transform: translateX(300px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.anim2{
    animation: anim2 1.6s ease-out forwards;
}